body,
html {
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: flex-start;
  background-color: red;
  width: 100%;
  height: 45%;
}

.normal-colors {
  background-color: green;
  width: 49.5%;
  height: 100%;
  
}

.fonts-size{
  width: 30px;  
}

.text-to-change{
  overflow: hidden ;
}

.divider-vert {
  display: inline-block;
        border-left: 10px solid black;
        height: 115%;
}

.inverted-colors{
  background-color: gold;
  width: 49.5%;
  height: 100%;
}

.divider-hor{
  border: 10px solid black;
  /*width: 100%;
  height: 50%; */
}

.customer-block{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 45%;
}

.custommer-choice{
  width: 49.5%;
  height: 100%;
  background-color: violet;
}

.customer-list{
  width: 49.5%;
  height: 100%;
  background-color: tomato;
}

